*{margin:0;padding:0;}
body{background-color:#333;color:#eee;}
#hold_everything{width:800px;height:600px;margin:0 auto;margin-top:50px;background-color:#111;box-shadow:0px 0px 15px #222;behavior:url(ie-css3.htc);border-radius:0 0 5px 5px;behavior:url(border-radius.htc);}
#menu_hold{width:100%;height:30px;background-color:#333;background:-webkit-gradient(linear, center bottom, center top, from(#272727), to(#333));background:-moz-linear-gradient(bottom, #272727,#333);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#272727', endColorstr='#333');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#272727', endColorstr='#333')";clear:both;}
.title{font-family:sans-serif;font-size:16px;padding:7px;color:#ccc;text-shadow:0 1px 0px #000;float:left;cursor:default;}
#menu{list-style:none;color:#cccccc;font-family:sans-serif;font-size:16px;text-shadow:0 1px 0px #000;float:right;padding:7px 0;}
#menu a{color:inherit;font-family:inherit;text-decoration:none;}
.menu_item{float:left;margin:0 10px;}
.menu_item:hover{color:#fff;}
.dob_hide{width:800px;overflow:hidden;position:absolute;}
.dobrodosli{font-size:158px;color:#eee;font-family:sans-serif;font-weight:bold;width:820px;height:160px;overflow:hidden;text-align:left;margin-left:-20px;cursor:default;}
.panoptikos{background-image:url(panoptikos.jpg);background-position:bottom center;background-repeat:no-repeat;width:800px;height:570px;overflow:hidden;background-color:#fff;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;behavior:url(border-radius.htc);}
#footer{background-color:#111;width:800px;height:80px;margin:0 auto;margin-top:20px;border-radius:5px 5px 0 0;box-shadow:0px 0px 15px #222;behavior:url(border-radius.htc);behavior:url(ie-css3.htc);font-family:sans-serif;color:#eeeeee;font-size:9px;}
#footer a{font-family:inherit;text-decoration:none;color:inherit;}
#footer a:hover{text-decoration:underline;}
#cc{width:600px;margin:0 auto;padding-top:15px;text-align:center;}
#cc img{margin:2px;}
.eboye{text-align:center;}
.cleared{clear:both;}
#naslovna_{display:inline;}
#autor_, #izlozbe_, #galerija_, #kontakt_{display:none;}
#p1{height:470px;overflow:hidden;}
h1{font-size:20px;font-weight:bold;text-align:center;width:800px;float:left;margin:30px 0;font-family:sans-serif;}
#tekst{font-size:14px;text-align:center;width:800px;float:left;font-family:sans-serif;}
h2{width:800px;text-align:center;float:left;font-size:18px;font-family:sans-serif;margin:30px 0;}
#p1{float:left;width:800px;text-align:center;font-size:12px;font-family:sans-serif;}
.kontakt-ime{float:left;font-size:36px;font-family:sans-serif;width:800px;text-align:center;margin-top:180px;font-style:italic;}
.tel{float:left;font-size:26px;font-family:sans-serif;width:800px;text-align:center;margin-top:30px;font-style:italic;}
.mail{float:left;font-size:26px;font-family:sans-serif;width:800px;text-align:center;margin-top:20px;font-style:italic;}
.wrapper{float:left;clear:both;}
#screen{width:800px;}
#screen li{float:left;list-style:none;}
#screen .jq-ss-crop{float:left;}
#left{font-size:100px;display:block;text-decoration:none;color:#eee;padding:225px 0;background-color:#fff;height:117px;float:left;border-bottom-left-radius:5px;behavior:url(border-radius.htc);}
#right{font-size:100px;display:block;text-decoration:none;color:#eee;padding:225px 0;background-color:#fff;height:117px;float:right;border-bottom-right-radius:5px;behavior:url(border-radius.htc);}
#left:hover, #right:hover{color:#ddd;}
#view{width:600px;height:567px;overflow:hidden;float:left;background-color:#fff;}
#images{width:80000px !important;width:3822px;padding:0;}
#images li img{border:0;}
#tekst{background-image:url(bck2.png);background-position:bottom center;background-repeat:no-repeat;overflow:hidden;max-height:480px;}
#p1{background-image:url(bck1.png);background-position:bottom center;background-repeat:no-repeat;}